body {
	background-image: url("space-pattern.jpg");
	background-repeat: repeat;
}

.container {
	width: 100%;
	text-align: center;
}

.logo {
	width: 40%;
}

.countdown {
	font-size: 2rem;
	color: #FFEB1E;
}